{% extends "base.html" %}
{% from 'macros.html' import deleteVehicleTypeModalWindow, createMenu %}
{% from 'fields.html' import simpleField, numberField %}
{% block body_content %}
	{% include 'topbar.html' %}
	<div class="container">
		<div class="container-fluid">
		    <div class="row-fluid">
			     {{createMenu('configuration', 'frequency')}}
			    <div class="span9">
					<ul class="nav nav-tabs">
					  <li class="active">
						<a href="#">Frequency</a>
					  </li>
					</ul>
					<div class="tab-content de-content">
						<div class="row row-margin-first">
                            <div class="table-wrapper">
                                <table id="results" class="table boo-table table-content table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Description</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">Type Time</th>
                                            <th scope="col">Priority</th>
                                            <th scope="col">Combinable</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	{% for item in frequencyTypeList.frequencies %}
                                    		<tr>
                                            	<td>{{item.description}}</td>
                                            	<td>{{item.type.description}}</td>
                                            	<td>{{item.time}}</td>
                                            	<td>{{item.timeType.description}}</td>
                                            	<td>{{item.priority}}</td>
                                            	
                                            	{%- if item.combinablePreviousFrequency == true %}
                                            		<td>SI</td>
    											{%- else %}
    												<td>NO</td>
    											{%- endif %}
    											                                        		
                                            	<td>
                                            		<a class="btn btn-warning btn-mini no-wrap" href="/app/conf/vehicle/update/{{item.id}}/{{item.description}}" title="Edit"><i class="icon-edit icon-white"></i></a>
                                            		&nbsp
                                            		<a href="#myModal{{loop.index}}" role="button" class="btn btn-danger btn-mini no-wrap" data-toggle="modal" title="Remove"><i class="icon-trash icon-white"></i></a>
                                            	</td>
                                            </tr>
                                            {{deleteVehicleTypeModalWindow(loop.index, item.id, item.description)}}
									    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div id="pageNavPosition" class="row">
                            </div>
	                    </div>

						<div class="row row-margin">
							<form id="frm" method="post">
		                        <div class="well well-nice">
			                        <fieldset>
			                        	<legend>Frequency fields</legend>
                                        {{simpleField(form.description)}}
                                         {{numberField(form.time, 15)}}
										{{ form.timeType }}
										
										<br/>                                        
										<div class="btn-group" data-toggle="buttons-radio">
											{% for subfield in form.type %}
												  	<button type="button" class="btn btn-primary" value="{{subfield.id}}">{{subfield.label}}</button>
											{% endfor %}
										</div>
										
										<br/>
										
										{% for subfield in form.type %}
										<tr>
										    <td>{{ subfield }}</td>
										    <td>{{ subfield.label }}</td>
										</tr>
										{% endfor %}


										<br/><br/>
										
									    <div class="button-bar">
											<a id="clearBtn" class="btn">Clear</a>
											<button type="submit" class="btn btn-success">Save Frequency</button>
										</div>
										
			                        </fieldset>
		                    	</div>
							</form>
						</div>

					</div>
			    </div>
		    </div>
		</div>
	</div>
{% endblock %}
{% block script_content %}
	{%- if (frequencyTypeList.frequencies|length) >= 6 %}
	    <script type="text/javascript">
		    var pager = new Pager('results', 5); 
		    pager.init(); 
		    pager.showPageNav('pager', 'pageNavPosition'); 
		    pager.showPage(1);
		</script>
	{%- endif %}
	{%- if response == "success" %}
        <script>
	        notyfy({
	    		text: 'Vehicle type was {{"saved" if action == "save" else ("removed" if action == "remove" else "updated")}} successfully.',
	    		theme: 'boolight',
	    		type: 'success',
	    		layout: 'bottomRight'
	    	});
        </script>
    {%- endif %}
    {% if response != None and response != "success"%}
        <script>
	        notyfy({
	    		text: '{{response.message}}',
	    		theme: 'boolight',
	    		type: 'error',
	    		layout: 'bottomRight'
	    	});
        </script>
    {%- endif %}
{% endblock %}
