{% extends "base.html" %}
{% from 'macros.html' import deleteParkingRatesModalWindow, createMenu %}
{% from 'fields.html' import simpleField, selectField %}
{% block body_content %}
	{% include 'topbar.html' %}
	<div class="container">
		<div class="container-fluid">
		    <div class="row-fluid">
			    {{createMenu('configuration', 'parkingRates')}}
			    <div class="span9">
					<ul class="nav nav-tabs">
					  <li class="active">
						<a href="#">{% trans %}PRICE{% endtrans %}</a>
					  </li>
					</ul>
					<div class="tab-content de-content">
						<div class="row row-margin-first">
							{%- if (priceList.prices|length) != 0 %}
	                            <div class="table-wrapper">
	                                <table id="results" class="table boo-table table-content table-hover">
	                                    <thead>
	                                        <tr>
	                                            <th scope="col">{% trans %}VEHICLE{% endtrans %}</th>
	                                            <th scope="col">{% trans %}FREQUENCY{% endtrans %}</th>
	                                            <th scope="col">{% trans %}AMOUNT{% endtrans %}</th>
	                                            <th scope="col">{% trans %}ACTION{% endtrans %}</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                    	{% for item in priceList.prices %}
	                                    		<tr>
										        	<td>{{item.vehicleType.description}}</td>
	                                            	<td>{{item.frequencyType.description}}</td>
	                                            	<td>{{item.amount}}</td>
	                                            	<td>
	                                            		<a class="btn btn-warning btn-mini no-wrap" href="/app/conf/parkingRates/update/{{item.id}}" title="{% trans %}BUTTON_EDIT{% endtrans %}"><i class="icon-edit icon-white"></i></a>
	                                            		&nbsp
	                                            		<a href="#myModal{{loop.index}}" role="button" class="btn btn-danger btn-mini no-wrap" data-toggle="modal" title="{% trans %}BUTTON_REMOVE{% endtrans %}"><i class="icon-trash icon-white"></i></a>
	                                            	</td>
	                                            </tr>
	                                            {{deleteParkingRatesModalWindow(loop.index, item.id, item.vehicleType.description, item.frequencyType.description)}}
										    {% endfor %}
	                                    </tbody>
	                                </table>
	                            </div>
                            {%- endif %}
                            <div id="pageNavPosition" class="row">
                            </div>
	                    </div>
						<div class="row row-margin">
							<form id="frm" method="post">
		                        <div class="well well-nice">
			                        <fieldset>
			                        	<legend>{% trans %}PRICE_FIELDS{% endtrans %}</legend>
                                        
                                        <div>
											{% trans %}SELECT_VEHICLE{% endtrans %}
										</div>
										<div>
	                                       {{ selectField(form.vehicle) }}
										</div>
										
										<div>
											{% trans %}SELECT_FREQUENCY{% endtrans %}
										</div>
										<div>
	                                        {{ form.frequency }}
										</div>
										
										<div>
											{% trans %}AMOUNT{% endtrans %}
										</div>
										<div>
	                                        {{simpleField(form.amount, onkeypress='return onlyCurrency(event)', class="input-small")}}
										</div>
										
									    <hr>
									    <div class="button-bar">
											<a id="clearBtn" class="btn">{% trans %}CLEAR{% endtrans %}</a>
											<button type="submit" class="btn btn-success">{% trans %}SAVE_VEHICLE{% endtrans %}</button>
										</div>
			                        
			                        </fieldset>
		                    	</div>
							</form>
						</div>
					</div>
			    </div>
		    </div>
		</div>
	</div>
{% endblock %}
{% block script_content %}
	{%- if (priceList.prices|length) >= 6 %}
	    <script type="text/javascript">
		    var pager = new Pager('results', 5); 
		    pager.init(); 
		    pager.showPageNav('pager', 'pageNavPosition'); 
		    pager.showPage(1);
		</script>
	{%- endif %}
	{%- if response == "success" %}
        <script>
	        notyfy({
	    		text: 'Price type was {{"saved" if action == "save" else ("removed" if action == "remove" else "updated")}} successfully.',
	    		theme: 'boolight',
	    		type: 'success',
	    		layout: 'bottomRight'
	    	});
        </script>
    {%- endif %}
    {% if response != None and response != "success"%}
        <script>
	        notyfy({
	    		text: '{{response.message}}',
	    		theme: 'boolight',
	    		type: 'error',
	    		layout: 'bottomRight'
	    	});
        </script>
    {%- endif %}
{% endblock %}