{% extends "base.html" %}
{% from 'macros.html' import deleteVehicleTypeModalWindow, createMenu %}
{% from 'fields.html' import simpleField %}
{% block body_content %}
	{% include 'topbar.html' %}
	<div class="container">
		<div class="container-fluid">
		    <div class="row-fluid">
			    {{createMenu('configuration', 'vehicle')}}
			    <div class="span9">
					<ul class="nav nav-tabs">
					  <li class="active">
						<a href="#">Vehicle</a>
					  </li>
					</ul>
					<div class="tab-content de-content">
						<div class="row row-margin-first">
							{%- if (vehicleTypeList.vehicles|length) != 0 %}
	                            <div class="table-wrapper">
	                                <table id="results" class="table boo-table table-content table-hover">
	                                    <thead>
	                                        <tr>
	                                            <th scope="col">ID</th>
	                                            <th scope="col">Description</th>
	                                            <th scope="col">Actions</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                    	{% for item in vehicleTypeList.vehicles %}
	                                    		<tr>
										        	<td>{{loop.index}}</td>
	                                            	<td>{{item.description}}</td>
	                                            	<td>
	                                            		<a class="btn btn-warning btn-mini no-wrap" href="/app/conf/vehicle/update/{{item.id}}/{{item.description}}" title="Edit"><i class="icon-edit icon-white"></i></a>
	                                            		&nbsp
	                                            		<a href="#myModal{{loop.index}}" role="button" class="btn btn-danger btn-mini no-wrap" data-toggle="modal" title="Remove"><i class="icon-trash icon-white"></i></a>
	                                            	</td>
	                                            </tr>
	                                            {{deleteVehicleTypeModalWindow(loop.index, item.id, item.description)}}
										    {% endfor %}
	                                    </tbody>
	                                </table>
	                            </div>
                            {%- endif %}
                            <div id="pageNavPosition" class="row">
                            </div>
	                    </div>
						<div class="row row-margin">
							<form id="frm" method="post">
		                        <div class="well well-nice">
			                        <fieldset>
			                        	<legend>Vehicle fields</legend>
                                        {{simpleField(form.description)}}
									    <div class="button-bar">
											<a id="clearBtn" class="btn">Clear</a>
											<button type="submit" class="btn btn-success">Save Vehicle</button>
										</div>
			                        </fieldset>
		                    	</div>
							</form>
						</div>
					</div>
			    </div>
		    </div>
		</div>
	</div>
{% endblock %}
{% block script_content %}
	{%- if (vehicleTypeList.vehicles|length) >= 6 %}
	    <script type="text/javascript">
		    var pager = new Pager('results', 5); 
		    pager.init(); 
		    pager.showPageNav('pager', 'pageNavPosition'); 
		    pager.showPage(1);
		</script>
	{%- endif %}
	{%- if response == "success" %}
        <script>
	        notyfy({
	    		text: 'Vehicle type was {{"saved" if action == "save" else ("removed" if action == "remove" else "updated")}} successfully.',
	    		theme: 'boolight',
	    		type: 'success',
	    		layout: 'bottomRight'
	    	});
        </script>
    {%- endif %}
    {% if response != None and response != "success"%}
        <script>
	        notyfy({
	    		text: '{{response.message}}',
	    		theme: 'boolight',
	    		type: 'error',
	    		layout: 'bottomRight'
	    	});
        </script>
    {%- endif %}
{% endblock %}
