<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>dondeEstaciono - Bienvenido</title>
	
	{% block head_content %}{% endblock %}

    <!-- Le styles -->
    <link href="{{ url_for('static', filename='css/lib/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/lib/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/lib/boo.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/extension.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <script src="{{ url_for('static', filename='assets/plugins/selectivizr/selectivizr-min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/flot/excanvas.min.js') }}"></script>
    <![endif]-->
</head>



<div class="wrap">
	<div class="container">
	    <br>
	    {% if current_user.is_authenticated() %}
	        <p align="right"> <strong>{{ current_user.name }} | <a href="{{ url_for('login_blueprint.logout') }}">Logout</a></strong> </p>
	    {% else %}
	        <p align="right"> <a href="{{ url_for('login_blueprint.login') }}" class="btn">Login</a> <a href="" class="btn">Register</a> </p>
	    {% endif %}
	    <hr>
	</div>
	
	{% block body_content %}{% endblock %}
	
	<div class="clearfooter"></div>
</div>


<div class="footer">
	<div class="container">
	   	<hr>
	    <p>&copy; TECSO 2013 - <a href="http://www.tecso.coop">www.tecso.coop</a></p>
	</div>
</div>

<!-- Le javascript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/lib/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/jquery.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/jquery.date.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/jquery.mousewheel.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/jquery.load-image.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap.js') }}"></script>

<!-- Plugins Bootstrap -->
<script src="{{ url_for('static', filename='plugins/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-fuelux/js/all-fuelux.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-timepicker/js/bootstrap-timepicker.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-toggle-button/js/bootstrap-toggle-button.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-fileupload/js/bootstrap-fileupload.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-rowlink/js/bootstrap-rowlink.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-progressbar/js/bootstrap-progressbar.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-select/bootstrap-select.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-multiselect/js/bootstrap-multiselect.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-bootbox/bootbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-modal/js/bootstrap-modal.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-wizard/js/bootstrap-wizard.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-wizard-2/js/bwizard-only.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-image-gallery/js/bootstrap-image-gallery.min.js') }}"></script>

<!-- Plugins Custom - Only example -->
<script src="{{ url_for('static', filename='plugins/pl-extension/google-code-prettify/prettify.js') }}"></script>

<!-- Plugins Custom - System -->
<script src="{{ url_for('static', filename='plugins/pl-system/nicescroll/jquery.nicescroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-system/xbreadcrumbs/xbreadcrumbs.js') }}"></script>

<!-- Plugins Custom - System info -->
<script src="{{ url_for('static', filename='plugins/pl-system-info/qtip2/dist/jquery.qtip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-system-info/gritter/js/jquery.gritter.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-system-info/notyfy/jquery.notyfy.js') }}"></script>

<!-- Plugins Custom - Content -->
<script src="{{ url_for('static', filename='plugins/pl-content/list/js/list.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-content/list/plugins/list.paging.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-content/jpages/js/jPages.js') }}"></script>

<!-- Plugins Custom - Component -->
<script src="{{ url_for('static', filename='plugins/pl-component/fullcalendar/fullcalendar.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-component/rangeslider/jqallrangesliders.min.js') }}"></script>

<!-- Plugins Custom - Form -->
<script src="{{ url_for('static', filename='plugins/pl-form/uniform/jquery.uniform.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-form/select2/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-form/counter/jquery.counter.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-form/elastic/jquery.elastic.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-form/inputmask/jquery.inputmask.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-form/inputmask/jquery.inputmask.extensions.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-form/validate/js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-form/duallistbox/jquery.duallistbox.min.js') }}"></script>

<!-- Plugins Custom - Gallery -->
<script src="{{ url_for('static', filename='plugins/pl-gallery/nailthumb/jquery.nailthumb.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-gallery/nailthumb/showLoading/js/jquery.showLoading.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-gallery/wookmark/jquery.imagesloaded.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-gallery/wookmark/jquery.wookmark.min.js') }}"></script>

<!-- Plugins Tables -->
<script src="{{ url_for('static', filename='plugins/pl-table/datatables/media/js/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-table/datatables/plugin/jquery.dataTables.plugins.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-table/datatables/plugin/jquery.dataTables.columnFilter.js') }}"></script>

<!-- Plugins data visualization -->
<script src="{{ url_for('static', filename='plugins/pl-visualization/sparkline/jquery.sparkline.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/easy-pie-chart/easy-pie-chart.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/percentageloader/percentageloader.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/knob/knob.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/flot/jquery.flot.categories.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/flot/jquery.flot.grow.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/flot/jquery.flot.orderBars.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/flot/jquery.flot.pie.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/flot/jquery.flot.selection.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/flot/jquery.flot.stack.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/flot/jquery.flot.stackpercent.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pl-visualization/flot/jquery.flot.time.js') }}"></script>
<script src="{{ url_for('static', filename='js/de.js') }}"></script>
<script src="{{ url_for('static', filename='js/paging.js') }}"></script>
<script>
    $(document).ready(function() {
    });
</script>

{% block script_content %}{% endblock %}

</html>

