
<!-- macro para poner campo de texto alfanumerico -->
{% macro simpleField(field) -%}
    <div class="control-group {% if field.errors %}error{% endif %}">
	    <div class="controls">
	      {{ field(**kwargs) }}
	      <div>
		      {%- if field.errors %}
		      	{%- for error in field.errors %}
		      		<p class="help-inline">{{error}}</p>
		      	{%- endfor %}
		      {%- endif %}
	      </div>
	    </div>
    </div>
{%- endmacro %}



<!-- macro para botones SI - NO -->
{% macro yesNoField(hiddenField) -%}
	<div class="control-group {% if hiddenField.errors %}error{% endif %}">
		<div class="controls">
			{{ hiddenField }}
			<div class="btn-group" data-toggle="buttons-radio">
			  <button type="button" class="btn	{% if hiddenField.data|lower == 'true' %} active {% endif %}" onclick="writeInField( '{{hiddenField.id}}', 'true' );">Si</button>
			  <button type="button" class="btn	{% if hiddenField.data|lower == 'false' %} active {% endif %}" onclick="writeInField( '{{hiddenField.id}}', 'false' );" >No</button>
			</div>
			<p>
				{%- if hiddenField.errors %}
			      	{%- for error in hiddenField.errors %}
			      		<p class="help-inline">{{error}}</p>
			    	{%- endfor %}
		    	{%- endif %}
			</p>
		</div>	
	</div>												
{%- endmacro %}



<!-- macro para botones del tipo radio -->
<!-- el map buttons debe armarse de esta manera  valueDeLaAccion-labelAMostrar -->
<!-- ejemplo para llamada de un radio de SI-NO  radioField(form.type, buttons={yes:'SI', no:'NO'})  -->
{% macro radioField(hiddenField, buttons) -%}
	<div class="control-group {% if hiddenField.errors %}error{% endif %}">
		<div class="controls">
			{{ hiddenField }}
			<div class="btn-group" data-toggle="buttons-radio">
				{%-  for key in buttons %} 
			    	<button type="button" class="btn {% if hiddenField.data == key %} active {% endif %} {% if hiddenField.data|lower == key|lower %} active {% endif %}" onclick="writeInField( '{{hiddenField.id}}', '{{key}}' );">{{buttons[key]}}</button>
				{%- endfor %}
			</div>
			<p>
				{%- if hiddenField.errors %}
			      	{%- for error in hiddenField.errors %}
			      		<p class="help-inline">{{error}}</p>
			    	{%- endfor %}
			    {%- endif %}
			</p>
		</div>	
	</div>												
{%- endmacro %}
										