{% extends "base.html" %}
{% from 'macros.html' import createMenu %}
{% block body_content %}
	{% include 'topbar.html' %}
	<div class="container">
		<div class="container-fluid">
		    <div class="row-fluid">
			    {{createMenu('home', 'dashboard')}}
			    <div class="span9">
					<ul class="nav nav-tabs">
					  <li class="active">
						<a href="#">Dashboard</a>
					  </li>
					</ul>
					<div class="tab-content de-content">
					</div>
			    </div>
		    </div>
		</div>
	</div>
{% endblock %}