<!-- macro para popUp de borrado de VehicleType -->
{% macro deleteVehicleTypeModalWindow(index, itemId, itemDescription) -%}
    <div id="myModal{{index}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="myModalLabel">Confirmation</h3>
		</div>
		<div class="modal-body">
			<p>Do you want remove this vehicle: {{itemDescription}} ?</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" onclick="javascript:location.href='/app/conf/vehicle/remove/{{itemId}}'">OK</button>
			<button class="btn" data-dismiss="modal" href="">Cancel</button>
		</div>
	</div>
{%- endmacro %}


<!-- macro para poner el menu izquiero en los html -->
{% macro createMenu(group, item) -%}
	<div class="span3">
		<ul id="mainSideMenu" class="left-menu nav nav-list nav-side">
		    <li class="accordion-group">
		        <div class="accordion-heading"> <a href="#accDash" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"> <i class="icon-home icon-white"></i><i class="icon-chevron-right"></i> Home </a> </div>
		        <ul class="accordion-content nav nav-list collapse {% if group=='home' %}in{% endif %}" id="accDash">
		            <li> <a href="{{ url_for('indexapp') }}" {% if item=='dashboard' %}class="selected"{% endif %}> Dashboard </a> </li>
		        </ul>
		    </li>
		    <li class="accordion-group">
		        <div class="accordion-heading"> <a href="#accForms" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"> <i class="icon-th-list icon-white"></i><i class="icon-chevron-right"></i> Configuration </a> </div>
		        <ul class="accordion-content nav nav-list collapse {% if group=='configuration' %}in{% endif %}" id="accForms">
		            <li> <a href="{{ url_for('configuration_blueprint.getAllVehicle') }}" {% if item=='vehicle' %}class="selected"{% endif %}> Vehicle </a> </li>
		            <li> <a href="{{ url_for('configuration_blueprint.getAllFrequency') }}" {% if item=='frequency' %}class="selected"{% endif %}> Frecuency </a> </li>
		            <li> <a href="#"> Price</a> </li>
		        </ul>
		    </li>
		</ul>
	</div>
{%- endmacro %}


<!-- macro para poner campo de texto alfanumerico -->
{% macro simpleField(field) -%}
    <div class="control-group {% if field.errors %}error{% endif %}">
	    <div class="controls">
	      <input id="{{field.label.text|lower}}" class="input-block-level" type="text" name="{{field.label.text|lower}}" placeholder="{{field.label.text|lower}}" value="{{field.data if field.data != None}}">
	      {%- if field.errors %}
	      	{%- for error in field.errors %}
	      		<p class="help-inline">{{error}}</p>
	      	{%- endfor %}
	      {%- endif %}
	    </div>
    </div>
{%- endmacro %}


<!-- macro para poner campo de texto solo numerico -->
{% macro numberField(field, size) -%}
    <div class="control-group {% if field.errors %}error{% endif %}">
	    <div class="controls">
	      <input id="{{field.label.text|lower}}" 
	      		 class="input-block-level span1" 
	      		 type="text" 
	      		 name="{{field.label.text|lower}}" 
	      		 placeholder="{{field.label.text|lower}}" 
	      		 value="{{field.data if field.data != None}}" 
	      		 onkeypress="return onlyNumbers(event);"
	      		 size="{{size}}"
	      		 >
	      {%- if field.errors %}
	      	{%- for error in field.errors %}
	      		<p class="help-inline">{{error}}</p>
	      	{%- endfor %}
	      {%- endif %}
	    </div>
    </div>
{%- endmacro %}

